/*
 * Css styling for the app
 * 
 * Mateo Herrera
 * Gerardo Gutierrez
 * Francisco segundo nombre
 * 2022-08-24
 */

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

table td, table th{
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/* Made styling reactive depending on screen sizee */
@media only screen and (min-width: 950px) {
  
  #wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
  }

  #inputDiv {
    grid-column: 1 / 5;
  }
  
  #table1Div {
    grid-column: 1 / 3;
    align-self: baseline;
  }
  
  #table2Div {
    grid-column: 3 / 5;
    align-self: baseline;
  }
  
}

input {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}